<h2>Login</h2>
<%= form_with url: "/users/1", method: :get do |f| %>
  <%= f.label :rut, "RUT" %><br>
  <%= f.text_field :rut %><br>
  <%= f.label :password, "Contraseña" %><br>
  <%= f.password_field :password %><br>

  <%= f.submit "Ingresar" %>
  <%= f.submit "Ingresar con Clave Única" %>
<% end %>

<br>
<div class="alert alert-danger m-5">
  <p>Prevy ofrece la siguiente información como una recomendación y no es avalado por expertos. Prevy no se responsabiliza por cualquier mal uso de esta aplicación.</p>
</div>
