<h2><%= @exam.name %></h2>
<h3>Detalles</h3>
<ul>
  <li>Personal médico: <%= @exam.author %></li>
  <li>Institución: <%= @exam.location %></li>
  <li>Fecha: <%= @exam.date %></li>
  <li>Descargar Documento: <button>Descargar</button></li>
</ul>


<h3>Análisis</h3>
<p><%= @exam.analysis %></p>

<h3>Datos</h3>
<ul>
  <li>Presión: 110 mmhg</li>
</ul>


