<!DOCTYPE html>
<html>
  <head>
    <title>ING2030G15Proyecto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', defer: true, 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mx-5">
    <h1>Prevy</h1>
    <hr>
    <%= yield %>
  </body>
</html>
